<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cheng.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>136</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chu.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>136</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>138</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jia.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>135</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>276</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jian.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>136</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>413</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Kong.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>136</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>551</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaoyouxi.jpg</key>
			<dict>
				<key>width</key>
				<integer>580</integer>
				<key>height</key>
				<integer>348</integer>
				<key>originalWidth</key>
				<integer>580</integer>
				<key>originalHeight</key>
				<integer>348</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>139</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>D:/Programming/Cocos Studio/EditorDefaultRes/GUI/button.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>103</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>582</integer>
				<key>y</key>
				<integer>139</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>xiaoyouxi0.png</string>
			<key>realTextureFileName</key>
			<string>xiaoyouxi0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>